<h1>Edit <%= @wiki.name %> Collaborators</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
    </tr>
  </thead>

  <tbody>
    <% @collaborators.each do |collaborator| %>
      <tr>
        <td><%= collaborator.user.name %></td>
      </tr>
    <% end %>
  </tbody>
  
</table>

<br>

<%= link_to 'New Collaborator', new_wiki_collaborator_path %> |
<%= link_to 'Back', wikis_path %>
