<br>
 <div class="jumbotron">
   <h1>Blocipedia</h1>
   <p>Blocipedia is a special type of website designed to make collaboration easy.</p>
   <p>
     <%= link_to "Sign Up", edit_user_registration_path, class: 'btn btn-primary' %> today!
   </p>
 </div>

 <div class="row">
   <div class="col-md-4">
     <h2>Super Free</h2>
     <p>Blocipedia is a free encyclopedia, written collaboratively by the people who use it.</p>
   </div>
   <div class="col-md-4">
     <h2>Dynamic Changes</h2>
     <p>Blocipedia people are constantly improving it, making thousands of changes per hour.</p>
   </div>
   <div class="col-md-4">
     <h2>Edit, Edit, Edit</h2>
     <p>Anyone can edit almost every page, and we are encouraged to be bold!</p>
   </div>
 </div>
